body {
  margin-top: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.divider {
  width: 620px;
}

h2 {
  margin: -8.5px auto 50px auto;

  color: var(--gold);
  font-family: "Philosopher";
  font-weight: 300;
  font-size: 34px;
}

.odin {
  width: 300px;
  margin: 0 auto;
  padding-left: 25px;
}

.recipes {
  margin-top: -8px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.border {
  width: 380px;
}

ul {
  position: absolute;
  margin-top: 15px;

  font-family: "Philosopher";
  font-weight: 300;
  font-size: 24px;

  list-style-type: none;
  line-height: 2.5;
  text-align: center;
}

a {
  color: var(--light);
  text-decoration: none;
}

a:hover {
  color: var(--gold);
  text-shadow: 0px 0px 30px #fdec6e;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
