body {
  margin-top: 40px;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.recipe {
  width: 100%;
  max-width: 550px;
  height: 600px;
}

.recipe__container {
  width: 100%;
  max-width: 420px;

  position: relative;
  top: 50px;
  left: 55px;
}

.border {
  width: 100%;
  max-width: 525px;

  position: absolute;
}

h2 {
  margin-bottom: 40px;

  color: var(--light);
  font-family: "Philosopher";
  font-size: 24px;

  text-decoration: underline;
  text-align: center;
}

h3 {
  margin: 20px 0;

  color: var(--light);
  font-family: "Philosopher";
  font-size: 20px;
}

p,
li {
  color: var(--gray);
  font-family: "Philosopher";
  font-size: 18px;
}

ul,
ol {
  margin-left: 40px;
}

.picture {
  width: 100%;
  max-width: 550px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bread__img,
.stew__img,
.porridge__img {
  width: 60%;
  max-width: 280px;

  margin: 50px auto;
  position: relative;
}

.border-flip {
  margin-top: 250px;
  transform: rotate(180deg);
  z-index: -1;
}

.split {
  margin-left: 30px;
  columns: 100px 2;
}
